<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NAA.WsAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <NAA.WsAccess.Properties.Settings>
            <setting name="NAA_WsAccess_uk_ac_shu_hallam_webteach_net_SheffieldWebService"
                serializeAs="String">
                <value>http://webteach_net.hallam.shu.ac.uk/cmsmr2/SheffieldWebService.asmx</value>
            </setting>
            <setting name="NAA_WsAccess_uk_ac_shu_hallam_webteach_net1_SHUWebService"
                serializeAs="String">
                <value>http://webteach_net.hallam.shu.ac.uk/cmsmr2/SHUWebService.asmx</value>
            </setting>
        </NAA.WsAccess.Properties.Settings>
    </applicationSettings>
</configuration>