@model NAA.Web.Models.Apply.UniversityViewModel

<h2>Universities</h2>

<table class="table">

    @foreach (var item in Model.Universities)
    {
        <tr>
            <td>
                @Html.ActionLink(item, "Course", new {applicantId = Model.ApplicantId, university = item}, null)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back", "Index", "Application", new {applicantId = Model.ApplicantId}, null)
</div>